/* Soluzione qui */
@media screen and (min-width: 768px) {

    /* Il logo nell'header si allinea a sinistra */
    #topbar {
        justify-content: flex-start;
    }

    /*Il padding del contenuto principale della pagina aumenta*/

    main {
        padding: 50px;
    }


    /*Compare il testo "(Dolce Tradizionale)"*/

    .recipe-name>.recipe-origin {
        display: inline;
    }



    /*La grandezza del titolo diventa più grande*/

    #logo {
        font-size: 80px;
    }


    /*Le informazioni della ricetta sotto il video si dispongono a griglia*/

    .quick-notes>ul {

        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }



    /*I bottoni social si allargano*/

    .btn {
        flex-grow: 1;
    }

    /*compare il banner pubblicitario*/
    .ads {
        display: block;
    }

    /*l'immagine nella descrizione della ricetta viene circondata dal testo*/
    .presentation img {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 992px) {

    /*La grandezza del titolo della ricetta aumenta ancora di più*/

    /*Le informazioni della ricetta tornano a disporsi una sotto l'altra*/

    /*Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro*/

    /*Compaiono i nomi delle piattaforme social*/

    /*Nel footer i dati del sito e il menu di navigazione di dispongono sulla stessa linea ma su lati opposti*/
}